:root {
    --header-height: 80px
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #dde0ea;
    box-shadow: 0 4px 6px -1px #0000001a;
}

footer {
    position: fixed;
    left: 0;
    top: calc(100vh - var(--header-height));
    width: 100%;
    height: var(--header-height);
    background-color: #dde0ea;
}

header div, footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}