#root {
  /* max-width: 1280px; */
  min-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  transform: 0.4s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em hsla(32, 100%, 70%, 0.685));
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-grow-shrink {
  animation: growAndShrink 0.4s ease-in-out;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
